%a{:href => "http://www.google.com/maps?f=q&source=embed&hl=en&geocode=&q=1067+Cliffwood+Dr,+Mt+Pleasant,+SC+29464&sll=37.0625,-95.677068&sspn=26.812565,60.292969&ie=UTF8&hq=&hnear=1067+Cliffwood+Dr,+Mt+Pleasant,+Charleston,+South+Carolina+29464&ll=32.796447,-79.88407&spn=0.009506,0.01929&z=14&iwloc=A", :style => "font-size:.8em;"} View Larger Map
