#page community
.article
  %h2 Community
  .article-content
    %ul
      %li
        %a{:href => 'http://www.charlestonruby.org/', :target => '_blank'} Charleston Ruby
      %li
        %a{:href => 'http://www.charlestondigitalcorridor.com/', :target => '_blank'} Charleston Digital Cooridor
      %li
        %a{:href => 'http://www.charlestonchamber.net/', :target => '_blank'} Charleston Chamber of Commerce
      
