.article
  %h2 MISSION: Creating Software that Matters...
  %img.ui-corner-all{:src => '/images/jrs-team.png', :style => 'width:100%'}
  .article-content
    %p Jack Russell Software Company &reg; is a team of Software Craftsman that are passionate, focused and driven to provide quality custom software solutions.

