#content
  .article
    %h2 MISSION: Creating Software that Matters...
    %img.ui-corner-all{:src => '/images/jrs-team.png', :style => 'width:100%'}
    .article-content
      %p Jack Russell Software Company &reg; is a team of Software Craftsman that are passionate, focused and driven to provide quality custom software solutions.

#sidebar
  %ul
    %li 
      %a{:href => '#', :style => 'display:inline'} 
        Mission
    %li 
      %a{:href => '#'} Methodology
    %li
      %a{:href => '#'} Expertise
    %li 
      %a{:href => '#'} Team
    %li 
      %a{:href => '#'} Contact Us
