#page team
.article
  %h2 Team
  .article-content
    %ul
      %li Tom Wilson
      %li Andrew Kennedy
      %li Barrett Little
      %li Russell Niller
      %li Nick Bucciarelli
      %li Kris Windham