.article
  %h2 Technology
  .article-content
    %ul
      %li
        %h3 Core
        %ul
          %li Ruby
          %li Javascript
          %li HTML
          %li CSS
      %li
        %h3 Extended
        %ul
          %li CoffeeScript
          %li HAML
          %li SASS
      %li
        %h3 Cloud
        %ul
          %li Amazon Web Services
          %li Chef
          
      %li
        %h3 Other
        %ul
          %li MySql
          %li Git
          %li etc
        
